PORT=<port_here>
# Database
POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<db_name>
POSTGRES_HOST=<db_host>
POSTGRES_PORT=<db_port>
# Message to return on / endpoint
EXAMPLE_MSG=<msg_here>